---
title: "Memoria : A Blog"
---

<p>
  Allegedly some kind of online "Web Log" where I post about games and code and things. Currently a work in progress.
</p>

<hr>

<h2>Latest Posts</h2>
<ul>
  {% for post in site.posts %}
    <p>
      <h2 id="post-head"><b>&#8226; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.name }}</a></h2> // {{ post.date | date_to_string }} 
      <!-- // Tags: </b>
      {% for tag in site.tags %}
        {{ tag[0] }}
      {% endfor %} -->
      <!-- {{ post.excerpt }} -->
    </p>
  {% endfor %}
</ul>