---
layout: default
---

<p><b>
  <h1 id="post-head">{{ page.name }}</h1> 
  &nbsp; // &nbsp; </b> {{ page.date | date_to_string }}
<!--   {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a>
     - by {{ author.name}}
  {% endif %} -->
  <b>&nbsp; // &nbsp; Tags: </b>
  {% for topic in page.tags %}
    {{ topic }}{% if forloop.last %}{% else %},{% endif %}
  {% endfor %}

<hr id="post-mid">
</p>

{{ content }}